<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>G-Root</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/about.css" />
  <script src="../static/scripts/script.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
    <div>G-Root</div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="education.html">Education Hub</a></li>
      <li class="nav-item"><a class="nav-link" href="action.html">Take Action</a></li>
      <li class="nav-item"><a class="nav-link" href="impact.html">Track Impact</a></li>
      <li class="nav-item"><a class="nav-link" href="rewards.html">Rewards</a></li>
      <li class="nav-item"><a class="nav-link" href="report.html">Report</a></li>
      <li class="nav-item"><a class="nav-link" href="about.html">About us</a></li>
      <li class="nav-item" id="login-logout-btn"><a class="nav-link" href="../templates/login.html">Login</a>
      </li>
    </ul>
  </nav>
  <section class="who-we-are">
    <h2>Who are we?</h2>
    <p>
      We’re here to make doing good feel real, reachable, and personal. At G-Root, we believe tech should care – not just calculate. So we build with heart, guided by the SDGs, to spark change in the everyday. Because the future isn’t waiting – it’s shaped by the choices we make today. And yes, <strong>it starts with you.</strong>
    </p>
    <img src="../static/images/about (3).jpeg" alt="Illustration" class="section-image"/>
  </section>

  <section class="mission">
    <h2>Our Mission</h2>
    <div class="mission-block">
      <img src="../static/images/about (2).jpeg" alt="Recycling" class="section-image"/>
      <div class="text-box green-box">
        <p>We want to see the world change — not just in headlines, but in hearts, homes, and everyday lives. Our mission is to give you a starting point, a spark, and a system that helps you turn hope into something real.</p>
      </div>
    </div>
    <div class="mission-block reverse">
      <div class="text-box green-box">
        <p>Every small action you take echoes further than you think. And as you show up, day by day, you’re not just part of the change. You are the change.</p>
      </div>
      <img src="../static/images/about (1).jpeg" alt="Clean up" class="section-image"/>
    </div>
  </section>
</body>
</html>
  