<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>G-Root</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/report.css" />
  <script src="../static/scripts/script.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
    <div>G-Root</div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('education') }}">Education Hub</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('action') }}">Take Action</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('impact') }}">Track Impact</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('rewards') }}">Rewards</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('report') }}">Report</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About us</a></li>
      <a href="{{ url_for('login') }}" class="btn btn-success">Login</a>
    </ul>
  </nav>
  <body>
    <section class="report-section">
      <h2 class="report-title">Report a Problem</h2>
  
      <form class="report-form" id="reportForm">
        <div class="radio-group">
          <label><input type="radio" name="issue" value="Water Pollution" checked /> Water Pollution</label>
          <label><input type="radio" name="issue" value="Plastic Waste" /> Plastic Waste</label>
          <label><input type="radio" name="issue" value="Animal Cruelty" /> Animal Cruelty</label>
          <label><input type="radio" name="issue" value="Other" /> Other...</label>
        </div>
  
        <textarea name="description" placeholder="Problem Discription..." required></textarea>
  
        <div class="location-upload">
          <input type="text" name="location" placeholder="Location.." required />
          <label class="upload-icon">
            <input type="file" accept="image/*,video/*" hidden />
            <img src="/assets/images/cloud-computing.png" alt="Upload Icon" />
          </label>
        </div>
  
        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </section>
  
  </body>
  </html>